<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMask Login</title>
</head>
<body>
    <button id="loginButton">MetaMask ile Giriş Yap</button>

    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"></script>
    <script>
        const loginButton = document.getElementById('loginButton');

        loginButton.onclick = async () => {
            if (typeof window.ethereum !== 'undefined') {
                const provider = new ethers.providers.Web3Provider(window.ethereum);
                await provider.send("eth_requestAccounts", []);
                const signer = provider.getSigner();
                const address = await signer.getAddress();
                // Sunucudan nonce (rastgele sayı) al
                const response = await fetch('http://localhost:3000/request-nonce', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ 'address':address }),
                })
                const { nonce } = await response.json();
                // Mesajı imzala
                const signature = await signer.signMessage(`Nonce: ${nonce}`);

                // Sunucuya imzayı gönder ve doğrula
                const verifyResponse = await fetch('http://localhost:3000/verify-signature', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ address, signature }),
                });

                if (verifyResponse.ok) {
                    alert('Giriş başarılı!');
                } else {
                    alert('Giriş başarısız!');
                }
            } else {
                alert('MetaMask yüklü değil!');
            }
        };
    </script>
</body>
</html>
